<p>Здравствуйте,</p>

<p>Ваш почтовый ящик отключен из-за ошибок конфигурации. </p>
<p>Пожалуйста, обновите его, чтобы продолжать получать сообщения.</p>

<p>
Нажмите <a href="{{action_url}}">здесь</a>,чтобы повторно подключить.
</p>
