<p>Здравствуйте,</p>

<p>Срок действия вашего доступа к почтовому ящику Facebook истек. </p>
<p>Пожалуйста, повторно подключите страницу Facebook, чтобы продолжить получать сообщения.</p>

<p>
Нажмите <a href="{{action_url}}">здесь</a>,чтобы повторно подключить.
</p>
