<p>Здравствуйте,</p>

<p>Импорт ваших контактов завершен. Пожалуйста, проверьте вкладку контактов, чтобы просмотреть импортированные контакты.</p>

<p>Количество импортированных записей. : {{imported_contacts}}</p>

<p>Количество неудачных записей. : {{failed_contacts}}</p>

<p>
Вложение [<a href="{{ attachment_url }}" _target="blank">Нажмите здесь, чтобы посмотреть</a>]
</p>
<p>
Нажмите <a href="{{action_url}}">здесь</a>
</p>
