<p>Здравствуйте,</p>

<p>Срок действия вашей интеграции со Slack истек. Чтобы продолжать получать сообщения в Slack, удалите интеграцию и снова подключите свое рабочее пространство. </p>

<p>
Нажмите <a href="{{action_url}}">здесь</a>,чтобы повторно подключитьt.
</p>
